.btn1{
    margin-top:150px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    padding: 7px;
    width: 100px;
    border-radius: 5px;
}

.title{
    color:white;
}

.p {
    color: white;
}