body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}
.logo {
    width: 150px;
    height: 150px;
}
.title {
    color: black;
}
.friends {
    color: rgb(255, 128, 0);
}
.phone {
    width: 650px;
    height: 600px;
}
.input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #fafafa;
    color: black;
}
.login-btn {
    background-color: #0095f6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 400px;
    margin-top: 10px;

}
.forgot {
    background: none;
    border: none;
    color: #0095f6;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    padding: 0;
    margin: 10px 0;
}
.facebook {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 400px;
}
.signup {
    background: none;
    border: none;
    color: #0095f6;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    padding: 0;
    margin: 10px 0;
}

.df {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
height: 1000px;
}
.left {
    border-left: 1px solid rgb(168, 162, 168);
    padding-left: 90px;
}